# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~

# npm
node_modules
*.log
*.gz
build
.yarn

# Coveralls
coverage

# Benchmarking
benchmarks/graphs

# Technologies
helps.txt
.vscode
.VSCodeCounter
.git
helps.txt

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp*

#.env
.*.local
# src/app/services/originServices
package-lock.json
